body{
    background-color: beige;
}
.navbar-home {
    background-color: white;
    border-color: none;
    border-radius: none;
    margin-bottom: 0px;
}

    .carousel-content{
    	position: relative;
    	width: 100%;
    	overflow: hidden;
    	height: 510px;
    }
    footer{
        background-color: #080121;
        height: 300px;
        width: 105%
    }
    h4{
        color: #C3641E;
        padding: 30px 50px;
        font-size: 20px;
    }
    h5{
        color:#34E215;
        font-size: 20px;
    }
    h6{
        color: white;
        padding:10px 0;
        font-size: 15px;


    }
    .copy{
        color: white;
        padding: 30px 0;
    }